DATABASE_NAME=modified
DATABASE_USER=modified
DATABASE_PASSWORD=modified
DATABASE_PORT=modified
APP_PORT=mofified

## API ##รูปแบบ {{ตัวแปร}}

API_URL=modified
USER_USERNAME=umodified
USER_EMAIL=modified
USER_PASSWORD=modified
TOKEN=modified